# ignore stuff used for testing
coverage/
build/

# ignore runner files
.pnpm-store/

# ignore pnpm-lock.yaml
pnpm-lock.yaml

# ignore generated code
*.gen.ts

# ignore generated api code
src/openapi-ts_beta_api/