@import "reset.css";
@media (prefers-color-scheme: dark) {
    html {
        --background: #181825;
        --text: #e0e0ee;
        --foreground1: #1e1e2e;
        --foreground2: #313244;
        --accent1: #579dd7;
        --accent2: #aedbf0;
        --accent3: #ffffff;
        --red: #f38ba8;
        --green: #a6e3a1;
        --yellow: #f9e2af;
    }
}

@media (prefers-color-scheme: light) {
    html {
        --background: #e6e9ef;
        --text: #0c0c0d;
        --foreground1: #eff1f5;
        --foreground2: #ccd0da;
        --accent1: #579dd7;
        --accent2: #aedbf0;
        --accent3: #ffffff;
        --red: #d20f39;
        --green: #40a02b;
        --yellow: #df8e1d;
    }
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--text);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
