@import "reset.css";
@import "../themes/themes.css";

html,
body {
    --border-radius: 12px;
    --border-info: 1px solid var(--border-color);
    --selected-overlay: rgba(255, 255, 255, 0.1);
    max-width: 100vw;
    overflow-x: hidden;
    font-size: 18px;
    line-height: 1.5;
}

[data-theme-type="light"] {
    --dropshadow: drop-shadow(0.5px 0.5px 0.5px #888888);
    --accent1: #aedbf0;
    --accent2: #579dd7;
    --accent3: #ffffff;
    --backdrop: rgba(0, 0, 0, 0.15);
    --border-color: rgba(0, 0, 0, 0.1);
}

[data-theme-type="dark"] {
    --dropshadow: drop-shadow(0.5px 0.5px 0.5px #000000);
    --accent1: #579dd7;
    --accent2: #aedbf0;
    --accent3: #ffffff;
    --backdrop: rgba(255, 255, 255, 0.15);
    --border-color: rgba(150, 150, 150, 0.1);
}

body {
    color: var(--text);
    background: var(--crust);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
