.image_container {
    display: inline-block;
    height: 128px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    vertical-align: top;

    border-radius: var(--border-radius);
    border-width: 0px;
    border-color: transparent;
    background: transparent;
}

.image_container:focus-visible,
.image_container_fake_focus {
    outline: none;
    box-shadow: 0px 0px 2px 4px var(--accent1);
}

/* special case for visibility */
[data-theme-type="light"] .image_container:focus-visible,
[data-theme-type="light"] .image_container_fake_focus {
    outline: none;
    box-shadow: 0px 0px 2px 4px var(--accent2);
}

.image {
    height: 100%;
    width: auto;
    display: block;
    border-radius: var(--border-radius);
    background: transparent;
}
