.button {
    display: none;
}

.label {
    border: var(--border-info);
    filter: var(--dropshadow);
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: var(--border-radius);

    background-color: var(--base);
}

.label:hover {
    background-color: var(--surface0);
}

.label_disabled,
.label_disabled:hover {
    cursor: default;
    background-color: var(--crust);
    color: var(--subtext0);
}
