.viewerBackdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    pointer-events: none;
}

.progressBar {
    height: 50px;
    width: 250px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: var(--accent_one);
    background-color: var(--foreground);
    border-radius: 10px;
    border: 1px solid var(--foreground);
}

.progressBar::-moz-progress-bar {
    background: var(--accent_one);
}

.progressBar::-webkit-progress-value {
    background: var(--accent_one);
}

.hidden {
    visibility: hidden;
    display: none;
}
