.progressBar {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: var(--accent1);
    background-color: var(--mantle);
    border: var(--border-info);
    border-radius: var(--border-radius);
}

.progressBar::-moz-progress-bar {
    background: var(--accent1);
    border-radius: var(--border-radius);
    /* The following property isn't actually supported. It's included in case Mozilla eventually comes to Jesus. */
    transition: value 1s ease-in-out;
}

.progressBar::-webkit-progress-bar {
    border-radius: var(--border-radius);
}

.progressBar::-webkit-progress-value {
    background: var(--accent1);
    border-radius: var(--border-radius);
    transition: width 1s ease-in-out;
}

.hidden {
    visibility: hidden;
    display: none;
}
