.main {
    padding: 24px 28px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.h1 {
    font-family: var(--font-geist-sans);
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.01em;
}

.user_container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.account_row {
    background-color: var(--mantle);
    border-radius: var(--border-radius);
    border: var(--border-info);
    filter: var(--dropshadow);

    padding: 0.25rem;

    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: max-content;
}

.account_item {
    background-color: var(--base);
    border-radius: var(--border-radius);
    border: var(--border-info);
    filter: var(--dropshadow);

    padding: 0.75rem 1rem;
}

.username {
    min-width: 300px;
}

.create_user {
    background-color: var(--base);
    border-radius: var(--border-radius);
    border: var(--border-info);
    filter: var(--dropshadow);

    padding: 0.75rem 1rem;
    max-width: 140px;
}
